<h1> Number of text sent </h1>
<p> Last day <%= @lastDayCount %> </p>
<p> Last week <%= @lastWeekCount %> </p>
<p> Total <%= @totalCount %> </p>


<h1> Number of recipients </h1>
<p> Last day <%= @lastDayRecipientCount %> </p>
<p> Last week <%= @lastWeekRecipientCount %>  </p>
<p> Total <%= @totalRecipientCount %> </p>